<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.posting">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/farmer1"
        android:label="Farmer Friend"
        android:roundIcon="@mipmap/farmer1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Posting"
        tools:targetApi="31">
        <activity
            android:name=".WantedToWorkActivity"
            android:exported="false" />
        <activity
            android:name=".needFarmworkers"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity2"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity android:name=".CategoryProductActivity" />
        <activity
            android:name=".MyProducts"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Posting.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".AddProducts"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".Main2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>